<clr-main-container class="main-container">
    <clr-header class="header header-1">
        <div class="branding">
            <a routerLink="/home"  routerLinkActive="active" class="nav-link">
                <img src="assets/dojo-transparent-white-outline.svg" alt="A dojo" class="mtdj__logo">
                <span class="title">Math Dojo</span>
            </a>
        </div>
    </clr-header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/actions">Actions</a>
            </li>
            <li class="nav-item">
               > Question Queue
            </li>   
        </ul>
    </nav>
    <div class="content-container" id="primary">
        <div class="content-area">
            <div class="clr-row mtdj__question-feature-area">
                <div class="clr-col-lg-6 clr-col-12 mtdj__question-container">
                    <div class="card">
                        <div class="card-header">
                            {{question.title}}
                        </div>
                        <div class="card-block">
                            <div class="card-title">
                                Problem Description
                            </div>
                            <div class="card-text">
                                <ng-katex-paragraph [paragraph]="question.questionBody"></ng-katex-paragraph>

                            </div>
                            <div class="card-img">
                                <img src="..." />
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let hint of question.hints">{{hint}}</li>
                        </ul>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-link">Show hints</button>
                        </div>
                    </div>
                </div>
                <div class="clr-col-lg-6  clr-col-12 mtdj__question-submission-container">
                    <div class="card">
                        <div class="card-header">
                            Header
                        </div>
                        <form clrForm [formGroup]="exampleForm" clrLayout="vertical">
                            <div class="card-block">
                                <div class="card-title">
                                    Answer Sheet
                                </div>
                                <div class="card-text">
                                    Some useful explanation on how to pick answers
                                    <clr-radio-container>
                                        <label>Options</label>
                                        <clr-radio-wrapper *ngFor="let each of question.questionAnswerOptions">
                                            <input type="radio" clrRadio name="sample"  value="{{each}}"
                                                formControlName="sample" />
                                            <label>{{each}}</label>
                                        </clr-radio-wrapper>

                                    </clr-radio-container>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline" type="submit" (click)="approve()">
                                    Approve
                                </button>
                               
                                <button class="btn btn-warning-outline" type="button" (click)="reject()">
                                    Reject
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</clr-main-container>