<clr-main-container class="main-container">
    <clr-header class="header header-1">
        <div class="branding">
            <a routerLink="/home"  routerLinkActive="active" class="nav-link">
                <img src="assets/dojo-transparent-white-outline.svg" alt="A dojo" class="mtdj__logo">
                <span class="title">Math Dojo</span>
            </a>
        </div>
    </clr-header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/actions">Actions</a>
            </li>
    
        </ul>
    </nav>

    <div class="content-container" id="primary">
        <div class="content-area">
            <div class="clr-row clr-align-items-center site-main">
                <div class="clr-col-6">
                    <h1>Stuff admins do</h1>
                    <div class="clr-row">
                        <div class="clr-col-4 mtdj__actionspage_display">
                            <div class="card">
                                <div class="card-header">
                                    <h3>View and Approve Questions</h3>
                                </div>
                                <div class="card-block">
                                    <div class="card-text">
                                        Access the queue of quarantined questions waiting to be approved
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a routerLink="/actions/approve" routerLinkActive="active" class="btn btn-primary card clickable mtdj__actionspage_card">Approve Questions</a>
                                </div>
                            </div>
                        </div>
                        <div class="clr-col-4 mtdj__actionspage_display">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Action 2<br><span>.</span></h3>
                                </div>
                                <div class="card-block">
                                    <div class="card-text">
                                        Explain action 2
                                        <br><br>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a href="" class="btn btn-primary card clickable mtdj__actionspage_card">Action 2</a>
                                </div>
                            </div>
                        </div>
                        <div class="clr-col-4 mtdj__actionspage_display">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Action 3<br><span>.</span></h3>
                                </div>
                                <div class="card-block">
                                    <div class="card-text">
                                        Explain action 3
                                        <br><br>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a href="" class="btn btn-primary card clickable mtdj__actionspage_card">Action 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr-col-6 mtdj__landingpage_img_container">
                  
                </div>
            </div>
        </div>
        
    </div>
  













</clr-main-container>